.card {
  margin: 40px;
  text-align: center;
  background-color: #93c9e5;
  border-radius: 20px;
  border: none;
  color: #1c1c1c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'La Oriental', sans-serif
}
.card-title{
  font-family: 'La Oriental', sans-serif;
  font-size: 20px;
}
.card-price{
  font-size: 15px;
}
.card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card button {
  background-color: #f9d794;
  border: none;
  color: #1c1c1c;
  font-weight: bold;
  font-size: 15px;
}

.card button:hover {
  background-color: #ffbb33;
}
